body{
	background: rgba(255,255,255,0.3);
	background-image: url(images/wall.jpg);
	background-size: 100%;

	
}
div{
	margin:auto;
	margin-bottom: 15px;
	text-align: center;
	font-weight: bold;
}
#console{
	margin:auto;
	max-width: 400px;
	max-height: 450px;
	border-radius: 9px;
	overflow: auto;
	text-align: center;
	background: rgba(255,245,215,0.4); 
}
.buttonStart{
  	margin:15px;
  	width: 400px;
  	position: relative;
  	font-weight: bold;
  	color: white;
  	text-decoration: none;
  	text-shadow: 0 -1px 1px #cc5500;
  	user-select: none;
  	padding: .8em 2em;
  	outline: none;
  	border-radius: 1px;
  	background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#d77d31, #fe8417, #d77d31);
  	background-size: 100% 100%, auto;
  	background-position: 50% 50%;
  	box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, #000 0 10px 15px -10px;
  	transition: 0.2s;
}
.buttonStart:hover {
  	background-size: 140% 100%, auto;
}	
.buttonStart:active {
  	top: 1px;
  	color: #ffdead;
  	box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
}